# Created by .ignore support plugin (hsz.mobi)
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/.gitignore
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.vscode/
.idea/
karate.iml
/target
target/cucumber-html-reports/embeddings/
target/generated-test-sources/
target/cucumber-html-reports/
target/cucumber-html-reports/css/